<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iran Server</title>
    <link
      href="./bootstrap-5.3.1-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="scripts.js"></script>
  </head>

  <body>
    <script src="./bootstrap-5.3.1-dist/js/bootstrap.min.js"></script>
  </body>
</html>
