<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <div>
    <h1>Welcome to the Dashboard</h1>
    <h3>You entered as Admin</h3>
    <p>Name: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
    <a href="#" class="btn btn-primary">Add New Admin</a>
    <a href="/logout" class="btn btn-danger">Logout</a>
  </div>
</div>
