<h3 class="m-4">order</h3>

<div class="mt-5 m-4 border">
  <table
    class="table table-bordered rounded-3 border-dark-subtl border-2 border-gray"
  >
    <thead>
      <tr>
        <th scope="col">iD package</th>
        <th scope="col">Activation date</th>
        <th scope="col">Expiration date</th>
        <th scope="col">History</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">12345</th>
        <td>22.10.2023</td>
        <td>22.11.2023</td>
        <td>
          <a class="m-2 p-2 text-decoration-none ho dashbordOrderHO" href="#"
            >see log</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">12345</th>
        <td>22.10.2023</td>
        <td>22.11.2023</td>
        <td>
          <a class="m-2 p-2 text-decoration-none ho dashbordOrderHO" href="#"
            >see log</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">12345</th>
        <td>22.10.2023</td>
        <td>22.11.2023</td>
        <td>
          <a class="m-2 p-2 text-decoration-none ho dashbordOrderHO" href="#"
            >see log</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">12345</th>
        <td>22.10.2023</td>
        <td>22.11.2023</td>
        <td>
          <a class="m-2 p-2 text-decoration-none ho dashbordOrderHO" href="#"
            >see log</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div> 