<form action="/admin/plan" method="post">
  <input name="name" id="planVPS" type="text" class="form-control" />
  <input name="cpu" id="cpuVPS" type="text" class="form-control" />
  <input name="storage" id="planVPS" type="text" class="form-control" />
  <input name="ram" id="ramVPS" type="number" class="form-control" />
  <input name="price" id="priceVPS" type="number" class="form-control" />
  <input name="traffic" id="timeleft" type="text" class="form-control" />
  <input name="database" id="timeleft" type="text" class="form-control" />
  <input name="space" id="timeleft" type="text" class="form-control" />
  <input name="addon" id="timeleft" type="text" class="form-control" />
  <input name="country" id="timeleft" type="text" class="form-control" />
  <input name="categoryName" id="timeleft" type="text" class="form-control" />

  <select class="form-select" aria-label="Default select example">
    <option selected value="vps">vps</option>
    <option value="host">host</option>
  </select>

  <button type="submit">ADD</button>
</form>
