<div class="mt-4 row">
  <form action="/admin/plan" method="post">
    <fieldset>
      <legend>Create Host or VPS</legend>
      <div class="">
        <div class="d-block">
          <div
            class="align-items-center control-group mb-3 d-inline-flex border border-1 border-primary-subtle p-4 rounded"
          >
            <label class="control-label me-4" for="plan">CPU :</label>
            <div class="controls">
              <input
                id="cpu"
                name="cpu"
                type="text"
                placeholder="choose your CPU core"
                class="input-medium rounded border-primary"
              />
            </div>
          </div>
        </div>
        <div>
          <div class="d-block">
            <div
              class="align-items-center control-group mb-3 d-inline-flex border border-1 border-primary-subtle p-4 rounded"
            >
              <label class="control-label me-4" for="ram">RAM :</label>
              <div class="controls">
                <input
                  id="ram"
                  name="ram"
                  type="text"
                  placeholder="how many RAM add"
                  class="input-medium rounded border-primary"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="d-block">
          <div
            class="align-items-center control-group mb-3 d-inline-flex border border-1 border-primary-subtle p-4 rounded"
          >
            <label class="control-label me-4" for="price">Price :</label>
            <div class="controls">
              <input
                id="price"
                name="price"
                type="text"
                placeholder="what is that Price"
                class="input-medium rounded border-primary"
              />
            </div>
          </div>
        </div>
        <div class="d-block">
          <div
            class="align-items-center control-group mb-3 d-inline-flex border border-1 border-primary-subtle p-4 rounded"
          >
            <label class="control-label me-4" for="traffic">Traffic :</label>
            <div class="controls">
              <input
                id="traffic"
                name="traffic"
                type="text"
                placeholder="data for host or VPS"
                class="input-medium rounded border-primary"
              />
            </div>
          </div>
        </div>
        <div class="d-block">
          <div
            class="align-items-center control-group mb-3 d-inline-flex border border-1 border-primary-subtle p-4 rounded"
          >
            <label class="control-label me-1" for="database">Database :</label>
            <div class="controls">
              <input
                id="database"
                name="database"
                type="text"
                placeholder="how many connect to data base"
                class="input-medium rounded border-primary"
              />
            </div>
          </div>
        </div>
        <div class="d-block">
          <div
            class="align-items-center control-group mb-3 d-inline-flex border border-1 border-primary-subtle p-4 rounded"
          >
            <label class="control-label me-4" for="space">Space :</label>
            <div class="controls">
              <input
                id="space"
                name="space"
                type="text"
                placeholder="how many storage to access"
                class="input-medium rounded border-primary"
              />
            </div>
          </div>
        </div>
        <div class="d-block">
          <div
            class="align-items-center control-group mb-3 d-inline-flex border border-1 border-primary-subtle p-4 rounded"
          >
            <label class="control-label me-4" for="addon">Addon :</label>
            <div class="controls">
              <input
                id="addon"
                name="addon"
                type="text"
                placeholder="choose the limit"
                class="input-medium rounded border-primary"
              />
            </div>
          </div>
        </div>
        <div class="d-block">
          <div
            class="align-items-center control-group mb-3 d-inline-flex border border-1 border-primary-subtle p-4 rounded"
          >
            <label class="control-label me-2" for="addon">catName :</label>
            <div class="controls">
              <input
                id="categoryName"
                name="categoryName"
                type="text"
                placeholder="choose the catName"
                class="input-medium rounded border-primary"
              />
            </div>
          </div>
        </div>
        <div class="d-block">
          <div
            class="align-items-center mb-3 d-inline-flex border border-1 border-primary-subtle p-4 rounded"
          >
            <label class="control-label me-4 ms-4" for="country"
              >choose country</label
            >
            <div class="controls">
              <select
                id="country"
                name="country"
                class="input-medium rounded border-primary"
              >
                <option>Iran</option>
                <option>Germany</option>
                <option>France</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div
      class="align-items-center mb-3 d-inline-flex border border-1 border-primary-subtle p-4 rounded"
    >
      <label class="control-label me-4 ms-4" for="country">choose state</label>
      <div class="controls me-4 ms-4">
        <select
          id="country"
          name="country"
          class="input-medium rounded border-primary"
        >
          <option selected value="vps">vps</option>
          <option value="host">host</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <button
        class="btn btn-outline-primary w-25 text-bg-primary mb-5"
        type="submit"
      >
        ADD
      </button>
    </div>
  </form>
</div>
