
  <form action="" method="post">
    <input name="paln" id="planVPS" type="text" />
    <input name="cpu" id="cpuVPS" type="text" />
    <input name="storage" id="planVPS" type="text" />
    <input name="ram" id="ramVPS" type="text" />
    <input name="price" id="priceVPS" type="number" />
    <input name="timeleftVPS" id="timeleft" type="text" />
    <button type="submit">Buy</button>

    <input name="paln" id="planHOST" type="text" />
    <input name="traffic" id="trafficHOST" type="text" />
    <input name="database" id="databaseHOST" type="number" />
    <input name="space" id=" spaceHOST" type="text" />
    <input name="price" id="priceVPS" type="number" />
    <button type="submit">Buy</button>
</form>