<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h5>Edit Profile</h5>
  <form action="/dashboard/profile" method="put">
    <input type="text" name="name" placeholder="name" />
  </form>
</div>
