<div class="col-sm-12 col-md-10 col-md-offset-1">
    <h2 class="m-4">Offer VPS Plans </h2>
      <table class="table table-hover">
        <thead>
         <tr>
           <th>cpu</th>
            <th>time limt </th>
    <th>month </th>
    <th class="text-center">Price paln </th>
    <th class="text-center">Price with config</th>
    <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td class="col-sm-8 col-md-6">
    <div class="media">
    
    <div class="media-body">
    <h4 class="media-heading "><a class="text-decoration-none" href="#">Diamond Plan</a></h4>
    <h5 class="media-heading">16GB=> Ram , &#8734;=> SSD , 8 Core </h5>
    <span>Time left :  </span><span class="text-warning"><strong>  2 Day left </strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-danger">30 Days </strong></td>
    <td class="col-sm-1 col-md-1" style="text-align: center">
    <input type="email" class="form-control" id="exampleInputEmail1" value="3">
    </td>
    <td class="col-sm-1 col-md-1 text-center"><strong>$154.3</strong></td>
    <td class="col-sm-1 col-md-1 text-center"><strong>$179.7</strong></td>
    <td class="col-sm-1 col-md-1">
    <button type="button" class="btn btn-danger">
    <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
    </button></td>
    </tr>
    <tr>
    <td class="col-md-6">
    <div class="media">
        <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Silver Plan</a></h4>
    <h5 class="media-heading"><a class="text-decoration-none" href="#"> 4GB=> Ram , 240 => SSD , 2 Core </a></h5>
    <span>Time left : </span><span class="text-success"><strong>14 Days left</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">30 Days</strong></td>
    <td class="col-md-1" style="text-align: center">
    <input type="email" class="form-control" id="exampleInputEmail1" value="2">
    </td>
    <td class="col-md-1 text-center"><strong>$45.2</strong></td>
    <td class="col-md-1 text-center"><strong>$47.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
    </button></td>
    </tr>
    <tr>
    <td class="col-md-6">
    <div class="media">
    <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Golden Plan</a></h4>
    <h5 class="media-heading"> by 8GB=> Ram , &#8734;=> SSD , 4 Core</h5>
    <span>Time left : </span><span class="text-success"><strong>20 Days left</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">45 Days</strong></td>
    <td class="col-md-1" style="text-align: center">
    <input type="email" class="form-control" id="exampleInputEmail1" value="2">
    </td>
    <td class="col-md-1 text-center"><strong>$91.3</strong></td>
    <td class="col-md-1 text-center"><strong>$99.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
    </button>
  </td>
    </tr>		
  </tbody>
  </table>
  </div> 
  <div class=" mt-5 d-flex justify-content-around mb-5">
    <h3 > create your own costomize </h3>
    <button type="button" class="btn btn-danger">
      <a class="fa fa-remove text-white text-decoration-none p-2" href="#">create</a> 
      </button>
  </div>
  
    <div class="d-flex">
  <div class="col-sm-12 col-md-10 col-md-offset-1 ">
    <div class="d-flex align-content-sm-start">
      <h2 class="m-4"> VPS Plan  </h2>
      <div class="Franceflag mt-4  ">
        <section role="region" aria-hidden="true" class="france-flag">
        </section>
      </div>
    </div>
    
    <table class="table table-hover">
    <thead>
    <tr>
    <th>Plan</th>
    <th>cpu </th>
    <th>Storage </th>
    <th class="text-center">Ram </th>
    <th class="text-center">Price</th>
    <th> </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-sm-8 col-md-6">
        <div class="media">
        
        <div class="media-body">
        <h4 class="media-heading "><a class="text-decoration-none text-danger-emphasis " href="#">Super Special package</a></h4>
        <h5 class="media-heading">32GB=> Ram , &#8734;=> SSD , 16 Core </h5>
        <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
        </div>
        </div></td>
        <td class="col-md-1 text-left"><strong class="label label-danger">16 Core </strong></td>
        <td class="col-sm-1 col-md-1" style="text-align: center">
          <strong> &#8734;GB</strong>
        </td>
        <td class="col-sm-1 col-md-1 text-center"><strong>32GB</strong></td>
        <td class="col-sm-1 col-md-1 text-center"><strong>$93.7</strong></td>
        <td class="col-sm-1 col-md-1">
        <button type="button" class="btn btn-danger">
        <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
        </button></td>
        </tr>
    <tr>
    <td class="col-sm-8 col-md-6">
    <div class="media">
    
    <div class="media-body">
    <h4 class="media-heading "><a class="text-decoration-none" href="#">Special package</a></h4>
    <h5 class="media-heading">16GB=> Ram , 580=> SSD , 8 Core </h5>
    <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-danger">8 Core </strong></td>
    <td class="col-sm-1 col-md-1" style="text-align: center">
      <strong> 580GB</strong>
    </td>
    <td class="col-sm-1 col-md-1 text-center"><strong>16GB</strong></td>
    <td class="col-sm-1 col-md-1 text-center"><strong>$79.7</strong></td>
    <td class="col-sm-1 col-md-1">
    <button type="button" class="btn btn-danger">
    <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
    </button></td>
    </tr>
    <tr>
      <td class="col-md-6">
      <div class="media">
      <div class="media-body">
      <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 2</a></h4>
      <h5 class="media-heading"> 12GB=> Ram ,580=> SSD , 6 Core</h5>
      <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-success ">6 Core</strong></td>
      <td class="col-md-1" style="text-align: center">
      <strong> 580GB</strong>
      </td>
      <td class="col-md-1 text-center"><strong>12GB</strong></td>
      <td class="col-md-1 text-center"><strong>$56.7</strong></td>
      <td class="col-md-1">
      <button type="button" class="btn btn-danger">
      <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
      </button>
    </td>
      </tr>		
      <tr>
        <td class="col-md-6">
        <div class="media">
        <div class="media-body">
        <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 1</a></h4>
        <h5 class="media-heading">8GB=> Ram , 240=> SSD , 4 Core</h5>
        <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
        </div>
        </div></td>
        <td class="col-md-1 text-left"><strong class="label label-success ">4 Core</strong></td>
        <td class="col-md-1" style="text-align: center">
        <strong> 240GB</strong>
        </td>
        <td class="col-md-1 text-center"><strong>8GB</strong></td>
        <td class="col-md-1 text-center"><strong>$43.7</strong></td>
        <td class="col-md-1">
        <button type="button" class="btn btn-danger">
        <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
        </button>
      </td>
        </tr>
    <tr>
    <td class="col-md-6">
    <div class="media">
        <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 2</a></h4>
    <h5 class="media-heading"><a  class="text-decoration-none" href="#">4GB=> Ram , 100 => SSD , 2 Core </a></h5>
    <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">2 Core</strong></td>
    <td class="col-md-1" style="text-align: center">
      <strong> 100GB</strong>
    </td>
    <td class="col-md-1 text-center"><strong>4GB</strong></td>
    <td class="col-md-1 text-center"><strong>$17.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
    </button></td>
    </tr>
    <tr>
      <td class="col-md-6">
      <div class="media">
          <div class="media-body">
      <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 1</a></h4>
      <h5 class="media-heading"><a  class="text-decoration-none" href="#"> 2GB=> Ram , 50 => SSD , 1 Core </a></h5>
      <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-success ">1 Core</strong></td>
      <td class="col-md-1" style="text-align: center">
        <strong> 50GB</strong>
      </td>
      <td class="col-md-1 text-center"><strong>2GB</strong></td>
      <td class="col-md-1 text-center"><strong>$12.7</strong></td>
      <td class="col-md-1">
      <button type="button" class="btn btn-danger">
      <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
      </button></td>
      </tr>
          
  </tbody>
  </table>
  
  <div class="col-sm-12 col-md-10 col-md-offset-1 ">
      <div class=" d-flex ">
        <h2 class="m-4"> VPS Plan  </h2>
        <div class="flagGerman m-4">
          <span class="blackStripeGerman stripeGerman"></span>
          <span class="redStripeGerman stripeGerman"></span>
          <span class="goldStripeGerman stripeGerman"></span>
        </div>
      </div>
      
  
    </div>
    
    <table class="table table-hover">
    <thead>
    <tr>
    <th>Plan</th>
    <th>cpu </th>
    <th>Storage </th>
    <th class="text-center">Ram </th>
    <th class="text-center">Price</th>
    <th> </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-sm-8 col-md-6">
        <div class="media">
        
        <div class="media-body">
        <h4 class="media-heading "><a class="text-decoration-none text-danger-emphasis " href="#">Super Special package</a></h4>
        <h5 class="media-heading">32GB=> Ram , &#8734;=> SSD , 16 Core </h5>
        <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
        </div>
        </div></td>
        <td class="col-md-1 text-left"><strong class="label label-danger">16 Core </strong></td>
        <td class="col-sm-1 col-md-1" style="text-align: center">
          <strong> &#8734;GB</strong>
        </td>
        <td class="col-sm-1 col-md-1 text-center"><strong>32GB</strong></td>
        <td class="col-sm-1 col-md-1 text-center"><strong>$93.7</strong></td>
        <td class="col-sm-1 col-md-1">
        <button type="button" class="btn btn-danger">
        <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
        </button></td>
        </tr>
    <tr>
    <td class="col-sm-8 col-md-6">
    <div class="media">
    
    <div class="media-body">
    <h4 class="media-heading "><a class="text-decoration-none" href="#">Special package</a></h4>
    <h5 class="media-heading">16GB=> Ram , 580=> SSD , 8 Core </h5>
    <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-danger">8 Core </strong></td>
    <td class="col-sm-1 col-md-1" style="text-align: center">
      <strong> 580GB</strong>
    </td>
    <td class="col-sm-1 col-md-1 text-center"><strong>16GB</strong></td>
    <td class="col-sm-1 col-md-1 text-center"><strong>$79.7</strong></td>
    <td class="col-sm-1 col-md-1">
    <button type="button" class="btn btn-danger">
    <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
    </button></td>
    </tr>
    <tr>
      <td class="col-md-6">
      <div class="media">
      <div class="media-body">
      <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 2</a></h4>
      <h5 class="media-heading"> 12GB=> Ram ,580=> SSD , 6 Core</h5>
      <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-success ">6 Core</strong></td>
      <td class="col-md-1" style="text-align: center">
      <strong> 580GB</strong>
      </td>
      <td class="col-md-1 text-center"><strong>12GB</strong></td>
      <td class="col-md-1 text-center"><strong>$56.7</strong></td>
      <td class="col-md-1">
      <button type="button" class="btn btn-danger">
      <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
      </button>
    </td>
      </tr>		
      <tr>
        <td class="col-md-6">
        <div class="media">
        <div class="media-body">
        <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 1</a></h4>
        <h5 class="media-heading">8GB=> Ram , 240=> SSD , 4 Core</h5>
        <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
        </div>
        </div></td>
        <td class="col-md-1 text-left"><strong class="label label-success ">4 Core</strong></td>
        <td class="col-md-1" style="text-align: center">
        <strong> 240GB</strong>
        </td>
        <td class="col-md-1 text-center"><strong>8GB</strong></td>
        <td class="col-md-1 text-center"><strong>$43.7</strong></td>
        <td class="col-md-1">
        <button type="button" class="btn btn-danger">
        <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
        </button>
      </td>
        </tr>
    <tr>
    <td class="col-md-6">
    <div class="media">
        <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 2</a></h4>
    <h5 class="media-heading"><a  class="text-decoration-none" href="#"> 4GB=> Ram , 100 => SSD , 2 Core </a></h5>
    <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">2 Core</strong></td>
    <td class="col-md-1" style="text-align: center">
      <strong> 100GB</strong>
    </td>
    <td class="col-md-1 text-center"><strong>4GB</strong></td>
    <td class="col-md-1 text-center"><strong>$17.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
    </button></td>
    </tr>
    <tr>
      <td class="col-md-6">
      <div class="media">
          <div class="media-body">
      <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 1</a></h4>
      <h5 class="media-heading"><a  class="text-decoration-none" href="#"> 2GB=> Ram , 50 => SSD , 1 Core </a></h5>
      <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-success ">1 Core</strong></td>
      <td class="col-md-1" style="text-align: center">
        <strong> 50GB</strong>
      </td>
      <td class="col-md-1 text-center"><strong>2GB</strong></td>
      <td class="col-md-1 text-center"><strong>$12.7</strong></td>
      <td class="col-md-1">
      <button type="button" class="btn btn-danger">
      <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
      </button></td>
      </tr>
          
  </tbody>
  </table>
  <div class="col-sm-12 col-md-10 col-md-offset-1 ">
    <div class=" d-flex ">
      <h2 class="m-4"> VPS Plan  </h2>
      <div class="flagIran m-4">
        <span class="blackStripeIran stripeGerman"></span>
        <span class="redStripeIran stripeGerman"></span>
        <span class="goldStripeIran stripeGerman"></span>
      </div>
    </div>
    
  
  </div>
  
  <table class="table table-hover">
  <thead>
  <tr>
  <th>Plan</th>
  <th>cpu </th>
  <th>Storage </th>
  <th class="text-center">Ram </th>
  <th class="text-center">Price</th>
  <th> </th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-sm-8 col-md-6">
      <div class="media">
      
      <div class="media-body">
      <h4 class="media-heading "><a class="text-decoration-none text-danger-emphasis " href="#">Super Special package</a></h4>
      <h5 class="media-heading">32GB=> Ram , &#8734;=> SSD , 16 Core </h5>
      <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-danger">16 Core </strong></td>
      <td class="col-sm-1 col-md-1" style="text-align: center">
        <strong> &#8734;GB</strong>
      </td>
      <td class="col-sm-1 col-md-1 text-center"><strong>32GB</strong></td>
      <td class="col-sm-1 col-md-1 text-center"><strong>$93.7</strong></td>
      <td class="col-sm-1 col-md-1">
      <button type="button" class="btn btn-danger">
      <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
      </button></td>
      </tr>
  <tr>
  <td class="col-sm-8 col-md-6">
  <div class="media">
  
  <div class="media-body">
  <h4 class="media-heading "><a class="text-decoration-none" href="#">Special package</a></h4>
  <h5 class="media-heading">16GB=> Ram , 580=> SSD , 8 Core </h5>
  <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
  </div>
  </div></td>
  <td class="col-md-1 text-left"><strong class="label label-danger">8 Core </strong></td>
  <td class="col-sm-1 col-md-1" style="text-align: center">
    <strong> 580GB</strong>
  </td>
  <td class="col-sm-1 col-md-1 text-center"><strong>16GB</strong></td>
  <td class="col-sm-1 col-md-1 text-center"><strong>$79.7</strong></td>
  <td class="col-sm-1 col-md-1">
  <button type="button" class="btn btn-danger">
  <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
  </button></td>
  </tr>
  <tr>
    <td class="col-md-6">
    <div class="media">
    <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 2</a></h4>
    <h5 class="media-heading"> 12GB=> Ram ,580=> SSD , 6 Core</h5>
    <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">6 Core</strong></td>
    <td class="col-md-1" style="text-align: center">
    <strong> 580GB</strong>
    </td>
    <td class="col-md-1 text-center"><strong>12GB</strong></td>
    <td class="col-md-1 text-center"><strong>$56.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
    </button>
  </td>
    </tr>		
    <tr>
      <td class="col-md-6">
      <div class="media">
      <div class="media-body">
      <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 1</a></h4>
      <h5 class="media-heading">8GB=> Ram , 240=> SSD , 4 Core</h5>
      <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-success ">4 Core</strong></td>
      <td class="col-md-1" style="text-align: center">
      <strong> 240GB</strong>
      </td>
      <td class="col-md-1 text-center"><strong>8GB</strong></td>
      <td class="col-md-1 text-center"><strong>$43.7</strong></td>
      <td class="col-md-1">
      <button type="button" class="btn btn-danger">
      <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
      </button>
    </td>
      </tr>
  <tr>
  <td class="col-md-6">
  <div class="media">
      <div class="media-body">
  <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 2</a></h4>
  <h5 class="media-heading"> <a  class="text-decoration-none" href="#">4GB=> Ram , 100 => SSD , 2 Core </a></h5>
  <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
  </div>
  </div></td>
  <td class="col-md-1 text-left"><strong class="label label-success ">2 Core</strong></td>
  <td class="col-md-1" style="text-align: center">
    <strong> 100GB</strong>
  </td>
  <td class="col-md-1 text-center"><strong>4GB</strong></td>
  <td class="col-md-1 text-center"><strong>$17.7</strong></td>
  <td class="col-md-1">
  <button type="button" class="btn btn-danger">
  <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
  </button></td>
  </tr>
  <tr>
    <td class="col-md-6">
    <div class="media">
        <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 1</a></h4>
    <h5 class="media-heading"><a  class="text-decoration-none" href="#"> 2GB=> Ram , 50 => SSD , 1 Core </a></h5>
    <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">1 Core</strong></td>
    <td class="col-md-1" style="text-align: center">
      <strong> 50GB</strong>
    </td>
    <td class="col-md-1 text-center"><strong>2GB</strong></td>
    <td class="col-md-1 text-center"><strong>$12.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
    </button></td>
    </tr>
    
  </tbody>
  </table>
  <div class="col-sm-12 col-md-10 col-md-offset-1 ">
    <div class=" d-flex ">
      <h2 class="m-4">Hosting Plan  </h2>
      <div class="flagIran m-4">
        <span class="blackStripeIran stripeGerman"></span>
        <span class="redStripeIran stripeGerman"></span>
        <span class="goldStripeIran stripeGerman"></span>
      </div>
    </div>
    
  
  </div>
  
  <table class="table table-hover">
  <thead>
  <tr>
  <th>Plan</th>
  <th class="text-center m-auto">Traffic</th>
  <th>Database</th>
  <th class="text-center"> space</th>
  <th class="text-center">Addon</th>
  <th>Price </th>
  </tr>
  </thead>
  <tbody>
    
    <tr>
      <td class="col-sm-8 col-md-6">
      <div class="media">
      
      <div class="media-body">
      <h4 class="media-heading "><a class="text-decoration-none text-danger-emphasis " href="#">Super Special package</a></h4>
      <h5 class="media-heading"> </h5>
      <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-danger">&#8734; </strong></td>
      <td class="col-sm-1 col-md-1" style="text-align: center">
        <strong> 20</strong>
      </td>
      <td> <strong>50GB</strong> </td>
      <td class="col-sm-1 col-md-1 text-center"><strong> 12 </strong></td>
      <td class="col-sm-1 col-md-1 text-center"><strong>$13.2</strong></td>
      <td class="col-sm-1 col-md-1">
      <button type="button" class="btn btn-danger">
      <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
      </button></td>
      </tr>
  <tr>
  <td class="col-sm-8 col-md-6">
  <div class="media">
  
  <div class="media-body">
  <h4 class="media-heading "><a class="text-decoration-none" href="#">Special package</a></h4>
  <h5 class="media-heading"> </h5>
  <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
  </div>
  </div></td>
  <td class="col-md-1 text-left"><strong class="label label-danger">&#8734;</strong></td>
  <td class="col-sm-1 col-md-1" style="text-align: center">
    <strong>10</strong>
  </td>
  <td> <strong>30GB</strong> </td>
  <td class="col-sm-1 col-md-1 text-center"><strong>5</strong></td>
  <td class="col-sm-1 col-md-1 text-center"><strong>$4.7</strong></td>
  <td class="col-sm-1 col-md-1">
  <button type="button" class="btn btn-danger">
  <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
  </button></td>
  </tr>
  <tr>
    <td class="col-md-6">
    <div class="media">
    <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 2</a></h4>
    <h5 class="media-heading"> </h5>
    <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
    <td class="col-md-1" style="text-align: center">
    <strong> 10</strong>
    </td>
    <td> <strong>15GB</strong> </td>
    <td class="col-md-1 text-center"><strong>2</strong></td>
    <td class="col-md-1 text-center"><strong>$7.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
    </button>
  </td>
    </tr>		
    <tr>
      <td class="col-md-6">
      <div class="media">
      <div class="media-body">
      <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 1</a></h4>
      <h5 class="media-heading"></h5>
      <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
      <td class="col-md-1" style="text-align: center">
      <strong> 5 </strong>
      </td>
      <td> <strong>2GB</strong> </td>
      <td class="col-md-1 text-center"><strong>1</strong></td>
      <td class="col-md-1 text-center"><strong>$5.7</strong></td>
      <td class="col-md-1">
      <button type="button" class="btn btn-danger">
      <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
      </button>
    </td>
      </tr>
  <tr>
  <td class="col-md-6">
  <div class="media">
      <div class="media-body">
  <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 2</a></h4>
  <h5 class="media-heading"><a  class="text-decoration-none" href="#"></a> </h5>
  <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
  </div>
  </div></td>
  <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
  <td class="col-md-1" style="text-align: center">
    <strong> 1</strong>
  </td>
  <td> <strong>200MB</strong> </td>
  <td class="col-md-1 text-center"><strong>0</strong></td>
  <td class="col-md-1 text-center"><strong>$3.7</strong></td>
  <td class="col-md-1">
  <button type="button" class="btn btn-danger">
  <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
  </button></td>
  </tr>
  <tr>
    <td class="col-md-6">
    <div class="media">
        <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 1</a></h4>
    <h5 class="media-heading"><a  class="text-decoration-none" href="#"></a></h5>
    <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
    <td class="col-md-1" style="text-align: center">
      <strong> 1</strong>
    </td>
    <td> <strong>100MB</strong> </td>
    <td class="col-md-1 text-center"><strong>0</strong></td>
    <td class="col-md-1 text-center"><strong>$2.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
    </button></td>
    </tr>
    
  </tbody>
  </table>
  <div class="col-sm-12 col-md-10 col-md-offset-1 ">
    <div class=" d-flex ">
      <h2 class="m-4">Hosting Plan  </h2>
      <div class="flagGerman m-4">
        <span class="blackStripeGerman stripeGerman"></span>
        <span class="redStripeGerman stripeGerman"></span>
        <span class="goldStripeGerman stripeGerman"></span>
      </div>
    </div>
    
  
  </div>
  
  <table class="table table-hover">
  <thead>
  <tr>
  <th>Plan</th>
  <th class="text-center m-auto">Traffic</th>
  <th>Database</th>
  <th class="text-center"> space</th>
  <th class="text-center">Addon</th>
  <th>Price </th>
  </tr>
  </thead>
  <tbody>
    
    <tr>
      <td class="col-sm-8 col-md-6">
      <div class="media">
      
      <div class="media-body">
      <h4 class="media-heading "><a class="text-decoration-none text-danger-emphasis " href="#">Super Special package</a></h4>
      <h5 class="media-heading"> </h5>
      <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-danger">&#8734; </strong></td>
      <td class="col-sm-1 col-md-1" style="text-align: center">
        <strong> 20</strong>
      </td>
      <td> <strong>50GB</strong> </td>
      <td class="col-sm-1 col-md-1 text-center"><strong> 12 </strong></td>
      <td class="col-sm-1 col-md-1 text-center"><strong>$13.2</strong></td>
      <td class="col-sm-1 col-md-1">
      <button type="button" class="btn btn-danger">
      <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
      </button></td>
      </tr>
  <tr>
  <td class="col-sm-8 col-md-6">
  <div class="media">
  
  <div class="media-body">
  <h4 class="media-heading "><a class="text-decoration-none" href="#">Special package</a></h4>
  <h5 class="media-heading"> </h5>
  <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
  </div>
  </div></td>
  <td class="col-md-1 text-left"><strong class="label label-danger">&#8734;</strong></td>
  <td class="col-sm-1 col-md-1" style="text-align: center">
    <strong>10</strong>
  </td>
  <td> <strong>30GB</strong> </td>
  <td class="col-sm-1 col-md-1 text-center"><strong>5</strong></td>
  <td class="col-sm-1 col-md-1 text-center"><strong>$4.7</strong></td>
  <td class="col-sm-1 col-md-1">
  <button type="button" class="btn btn-danger">
  <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
  </button></td>
  </tr>
  <tr>
    <td class="col-md-6">
    <div class="media">
    <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 2</a></h4>
    <h5 class="media-heading"> </h5>
    <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
    <td class="col-md-1" style="text-align: center">
    <strong> 10</strong>
    </td>
    <td> <strong>15GB</strong> </td>
    <td class="col-md-1 text-center"><strong>2</strong></td>
    <td class="col-md-1 text-center"><strong>$7.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
    </button>
  </td>
    </tr>		
    <tr>
      <td class="col-md-6">
      <div class="media">
      <div class="media-body">
      <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 1</a></h4>
      <h5 class="media-heading"></h5>
      <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
      <td class="col-md-1" style="text-align: center">
      <strong> 5 </strong>
      </td>
      <td> <strong>2GB</strong> </td>
      <td class="col-md-1 text-center"><strong>1</strong></td>
      <td class="col-md-1 text-center"><strong>$5.7</strong></td>
      <td class="col-md-1">
      <button type="button" class="btn btn-danger">
      <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
      </button>
    </td>
      </tr>
  <tr>
  <td class="col-md-6">
  <div class="media">
      <div class="media-body">
  <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 2</a></h4>
  <h5 class="media-heading"><a  class="text-decoration-none" href="#"></a> </h5>
  <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
  </div>
  </div></td>
  <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
  <td class="col-md-1" style="text-align: center">
    <strong> 1</strong>
  </td>
  <td> <strong>200MB</strong> </td>
  <td class="col-md-1 text-center"><strong>0</strong></td>
  <td class="col-md-1 text-center"><strong>$3.7</strong></td>
  <td class="col-md-1">
  <button type="button" class="btn btn-danger">
  <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
  </button></td>
  </tr>
  <tr>
    <td class="col-md-6">
    <div class="media">
        <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 1</a></h4>
    <h5 class="media-heading"><a  class="text-decoration-none" href="#"></a></h5>
    <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
    <td class="col-md-1" style="text-align: center">
      <strong> 1</strong>
    </td>
    <td> <strong>100MB</strong> </td>
    <td class="col-md-1 text-center"><strong>0</strong></td>
    <td class="col-md-1 text-center"><strong>$2.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
    </button></td>
    </tr>
    
  </tbody>
  </table>
  <div class="col-sm-12 col-md-10 col-md-offset-1 ">
    <div class=" d-flex ">
      <h2 class="m-4">Hosting Plan  </h2>
      <div class="Franceflag mt-4  ">
        <section role="region" aria-hidden="true" class="france-flag">
        </section>
      </div>
    </div>
    
  
  </div>
  
  <table class="table table-hover">
  <thead>
  <tr>
  <th>Plan</th>
  <th class="text-center m-auto">Traffic</th>
  <th>Database</th>
  <th class="text-center"> space</th>
  <th class="text-center">Addon</th>
  <th>Price </th>
  </tr>
  </thead>
  <tbody>
    
    <tr>
      <td class="col-sm-8 col-md-6">
      <div class="media">
      
      <div class="media-body">
      <h4 class="media-heading "><a class="text-decoration-none text-danger-emphasis " href="#">Super Special package</a></h4>
      <h5 class="media-heading"> </h5>
      <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-danger">&#8734; </strong></td>
      <td class="col-sm-1 col-md-1" style="text-align: center">
        <strong> 20</strong>
      </td>
      <td> <strong>50GB</strong> </td>
      <td class="col-sm-1 col-md-1 text-center"><strong> 12 </strong></td>
      <td class="col-sm-1 col-md-1 text-center"><strong>$13.2</strong></td>
      <td class="col-sm-1 col-md-1">
      <button type="button" class="btn btn-danger">
      <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
      </button></td>
      </tr>
  <tr>
  <td class="col-sm-8 col-md-6">
  <div class="media">
  
  <div class="media-body">
  <h4 class="media-heading "><a class="text-decoration-none" href="#">Special package</a></h4>
  <h5 class="media-heading"> </h5>
  <span>Time left :  </span><span class="text-warning"><strong>  &#8734; </strong></span>
  </div>
  </div></td>
  <td class="col-md-1 text-left"><strong class="label label-danger">&#8734;</strong></td>
  <td class="col-sm-1 col-md-1" style="text-align: center">
    <strong>10</strong>
  </td>
  <td> <strong>30GB</strong> </td>
  <td class="col-sm-1 col-md-1 text-center"><strong>5</strong></td>
  <td class="col-sm-1 col-md-1 text-center"><strong>$4.7</strong></td>
  <td class="col-sm-1 col-md-1">
  <button type="button" class="btn btn-danger">
  <a href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630504" class="bg text-white text-decoration-none">Buy</a> 
  </button></td>
  </tr>
  <tr>
    <td class="col-md-6">
    <div class="media">
    <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 2</a></h4>
    <h5 class="media-heading"> </h5>
    <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
    <td class="col-md-1" style="text-align: center">
    <strong> 10</strong>
    </td>
    <td> <strong>15GB</strong> </td>
    <td class="col-md-1 text-center"><strong>2</strong></td>
    <td class="col-md-1 text-center"><strong>$7.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
    </button>
  </td>
    </tr>		
    <tr>
      <td class="col-md-6">
      <div class="media">
      <div class="media-body">
      <h4 class="media-heading"><a  class="text-decoration-none" href="#">Normal package 1</a></h4>
      <h5 class="media-heading"></h5>
      <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
      </div>
      </div></td>
      <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
      <td class="col-md-1" style="text-align: center">
      <strong> 5 </strong>
      </td>
      <td> <strong>2GB</strong> </td>
      <td class="col-md-1 text-center"><strong>1</strong></td>
      <td class="col-md-1 text-center"><strong>$5.7</strong></td>
      <td class="col-md-1">
      <button type="button" class="btn btn-danger">
      <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630506">Buy</a> 
      </button>
    </td>
      </tr>
  <tr>
  <td class="col-md-6">
  <div class="media">
      <div class="media-body">
  <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 2</a></h4>
  <h5 class="media-heading"></a> </h5>
  <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
  </div>
  </div></td>
  <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
  <td class="col-md-1" style="text-align: center">
    <strong> 1</strong>
  </td>
  <td> <strong>200MB</strong> </td>
  <td class="col-md-1 text-center"><strong>0</strong></td>
  <td class="col-md-1 text-center"><strong>$3.7</strong></td>
  <td class="col-md-1">
  <button type="button" class="btn btn-danger">
  <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
  </button></td>
  </tr>
  <tr>
    <td class="col-md-6">
    <div class="media">
        <div class="media-body">
    <h4 class="media-heading"><a  class="text-decoration-none" href="#">Economic package 1</a></h4>
    <h5 class="media-heading"></a></h5>
    <span>Time left : </span><span class="text-success"><strong>&#8734;</strong></span>
    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-success ">&#8734;</strong></td>
    <td class="col-md-1" style="text-align: center">
      <strong> 1</strong>
    </td>
    <td> <strong>100MB</strong> </td>
    <td class="col-md-1 text-center"><strong>0</strong></td>
    <td class="col-md-1 text-center"><strong>$2.7</strong></td>
    <td class="col-md-1">
    <button type="button" class="btn btn-danger">
    <a class="fa fa-remove text-white text-decoration-none" href="https://idpay.ir/hgbnlldkhgflhsd-10/shop/630508">Buy</a> 
    </button></td>
    </tr>
    
  </tbody>
  </table>