<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iran Server</title>
    <link
      href="./bootstrap-5.3.1-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header') %>
      <div>
        <p class="display-3">Pricing</p>
        <hr class="hr" />
        <div class="p-3">
          <div class="">
            <table
              class="table table-striped table-secondary table-hover table-bordered"
            >
              <p class="display-5">France Servers</p>
              <thead class="table-dark">
                <tr>
                  <th scope="col">Plan Name</th>
                  <th scope="col">cpu</th>
                  <th scope="col">ram</th>
                  <th scope="col">ssd</th>
                  <th scope="col">hard</th>
                  <th scope="col">price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Plan 1</th>
                  <td>1 core</td>
                  <td>2 gig</td>
                  <td>20 gig</td>
                  <td>20 gig</td>
                  <td>20000$</td>
                </tr>
                <tr>
                  <th scope="row">Plan 1</th>
                  <td>1 core</td>
                  <td>2 gig</td>
                  <td>20 gig</td>
                  <td>20 gig</td>
                  <td>20000$</td>
                </tr>
                <tr>
                  <th scope="row">Plan 1</th>
                  <td>1 core</td>
                  <td>2 gig</td>
                  <td>20 gig</td>
                  <td>20 gig</td>
                  <td>20000$</td>
                </tr>
                <tr>
                  <th scope="row">Plan 1</th>
                  <td>1 core</td>
                  <td>2 gig</td>
                  <td>20 gig</td>
                  <td>20 gig</td>
                  <td>20000$</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="">
            <table
              class="table table-striped table-secondary table-hover table-bordered"
            >
              <p class="display-5">France Servers</p>
              <thead class="table-dark">
                <tr>
                  <th scope="col">Plan Name</th>
                  <th scope="col">cpu</th>
                  <th scope="col">ram</th>
                  <th scope="col">ssd</th>
                  <th scope="col">hard</th>
                  <th scope="col">price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Plan 1</th>
                  <td>1 core</td>
                  <td>2 gig</td>
                  <td>20 gig</td>
                  <td>20 gig</td>
                  <td>20000$</td>
                </tr>
                <tr>
                  <th scope="row">Plan 1</th>
                  <td>1 core</td>
                  <td>2 gig</td>
                  <td>20 gig</td>
                  <td>20 gig</td>
                  <td>20000$</td>
                </tr>
                <tr>
                  <th scope="row">Plan 1</th>
                  <td>1 core</td>
                  <td>2 gig</td>
                  <td>20 gig</td>
                  <td>20 gig</td>
                  <td>20000$</td>
                </tr>
                <tr>
                  <th scope="row">Plan 1</th>
                  <td>1 core</td>
                  <td>2 gig</td>
                  <td>20 gig</td>
                  <td>20 gig</td>
                  <td>20000$</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <%- include('../partials/footer') %>
    </div>

    <script src="./bootstrap-5.3.1-dist/js/bootstrap.min.js"></script>
  </body>
</html>
